# ~/.unix_config git repo
alias unix_configs='/usr/bin/git --git-dir=$HOME/.unix_configs/ --work-tree=$HOME'
alias uc='unix_configs'

# Vim
alias vim='emacsclient'

# MPV
alias mpvd='mpv --player-operation-mode=pseudo-gui'
